<configuration>
  <system.webServer>
    <!-- 
    errorMode="Custom" to prevent IIS from helpfully serving a more detailed error .aspx page when run locally
    Default error mode is DetailedLocalOnly, which serves custom errors to remote users and more detailed error pages
    to local users.
    -->
    <httpErrors existingResponse="Auto" errorMode="Custom">
      <clear />
      <remove statusCode="401" />
      <error statusCode="401" path="error.html" responseMode="File" />
    </httpErrors>
    <handlers>
      <add name="iisnode" path="*/*.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode devErrorsEnabled="false" />
  </system.webServer>

  <!--
   Cause requests to hello.js to fail authentication before hitting iisnode. 
   In this scenario, we may want to re-route to a custom error page via IIS
   since we won't be able to handle the request in the node application.
   -->
  <location path="off/access_denied.js">
    <system.webServer>
      <security>
        <authorization>
          <clear />
          <add accessType="Deny" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="on/access_denied.js">
    <system.webServer>
      <security>
        <authorization>
          <clear />
          <add accessType="Deny" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>

  <!-- 
  Need to allow users access to error.html. 
  NOTE: Seprately, you will need to give IUSR account read access to custom error page so that IIS can access and serve the file.
  -->
  <location path="error.html">
    <system.webServer>
      <security>
        <authorization>
          <clear />
          <add accessType="Allow" users="*" />
        </authorization>
      </security>
    </system.webServer>
  </location>

</configuration>