<configuration>
  <appSettings>
    <add key="NODE_PENDING_PIPE_INSTANCES" value="65535" />
  </appSettings>
  <system.webServer>
    <handlers>
      <clear />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode 
      loggingEnabled="false" 
      debuggingEnabled="false" 
      devErrorsEnabled="false" 
      nodeProcessCountPerApplication="4" 
      maxConcurrentRequestsPerProcess="999999999" 
      maxNamedPipeConnectionRetry="10" 
    />
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
  </system.webServer>
</configuration>
