<configuration>

  <appSettings>
    <add key="setting1" value="value1" />
    <add key="setting2" value="value2" />
    <add key="" value="emptyKey"/>
    <add key="setting3" value="" />
  </appSettings>

  <system.webServer>
    <handlers>
      <add name="iisnode" path="hello.js" verb="*" modules="iisnode" />
    </handlers>
  </system.webServer>
</configuration>
