<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="hello.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="hello">
          <match url="hello/*" />
          <action type="Rewrite" url="hello.js" />
        </rule>
      </rules>
    </rewrite>       
  </system.webServer>
</configuration>
