<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?if $(var.Platform) = x86 ?>
  <?define platformShortName="x86" ?>
  <?endif?>

  <?if $(var.Platform) = x64 ?>
  <?define platformShortName="AMD64" ?>
  <?endif?>

  <?define sourcedir="$(var.SolutionDir)..\..\build\$(var.Configuration)\$(var.platformShortName)\" ?>

  <?define version="0.1.4.0"?>

  <Product Id="cc6c176e-e26c-48ec-8970-f58bd1d046ce" Name="iisnode" Language="1033" Version="$(var.version)" Manufacturer="iisnode" UpgradeCode="1d60944c-b9ce-4a71-a7c0-0384eb884b1f">

    <Package InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Property Id='ROOTDRIVE' Value='$(env.SystemDrive)' />

    <Property Id="NODEEXE">
      <DirectorySearch Id="NodeDir" Path="[ROOTDRIVE]\node\">
        <FileSearch Name="node.exe" />
      </DirectorySearch>
    </Property>

    <Condition Message="The node.exe is not found at [ROOTDRIVE]\node\node.exe. IIS cannot serve node.js applications without node.exe. Please get the latest node.exe build from http://nodejs.org and install it to [ROOTDRIVE]\node, then restart the installer.">
      <![CDATA[Installed OR NODEEXE]]>
    </Condition>

    <Condition Message="Cannot install $(var.platformShortName) version of iisnode on a $(env.PROCESSOR_ARCHITECTURE) system. Please download $(env.PROCESSOR_ARCHITECTURE) version of iisnode.">
      <![CDATA[Installed OR $(env.PROCESSOR_ARCHITECTURE) = $(var.platformShortName)]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="iisnoderootdir" Name="iisnode">
        </Directory>
      </Directory>
      <Directory Id="SystemFolder">
        <Directory Id="inetsrvdir" Name="inetsrv">
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="iisnode4iis" Title="Hosting node.js applications in IIS 7.x" Level="1" Description="IIS 7.x native module for hosting node.js applications in IIS">
      <ComponentGroupRef Id="allfiles" />
      <ComponentGroupRef Id="Product.Generated" />
    </Feature>
    
    <InstallExecuteSequence>

      <!-- Conditions for custom actions:
         http://stackoverflow.com/questions/537584/how-to-execute-custom-action-only-in-install-not-uninstall
         http://stackoverflow.com/questions/128279/how-best-to-define-a-custom-action-in-wix 
      -->

      <!-- install/rollback/uninstall iisnode section under system.webServer -->

      <Custom Action="AddIisnodeSection" After="InstallFiles">REMOVE&lt;>"ALL"</Custom>
      <Custom Action="RollbackAddIisnodeSection" After="InstallFiles">REMOVE&lt;>"ALL"</Custom>
      <Custom Action="UndoAddIisnodeSection" After="InstallFiles">REMOVE="ALL"</Custom>

      <!-- remove iisnode module registration -->

      <Custom Action="RemoveIisnodeModuleRegistration" After="AddIisnodeSection" />
      
      <!-- install/rollback/uninstall iisnode module -->

      <Custom Action="AddIisnodeModuleRegistration" After="RemoveIisnodeModuleRegistration">REMOVE&lt;>"ALL"</Custom>
      <Custom Action="RollbackAddIisnodeModuleRegistration" After="RemoveIisnodeModuleRegistration">REMOVE&lt;>"ALL"</Custom>
      <Custom Action="UndoAddIisnodeModuleRegistration" After="RemoveIisnodeModuleRegistration">REMOVE="ALL"</Custom>
      
    </InstallExecuteSequence>

  </Product>

  <?include iisnodefiles.wxi ?>
  <?include customactions.wxi ?>

</Wix>
